body, html{
	height:100%;
	min-height: 100%;
	padding:0;
	margin:0;
}
ul{
	margin:0;
	padding:0%;
    list-style-type: none;	
}
body{
	background-color:#eee;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
}
button{
	border: 0;
    padding: 0;
	background:none;
	color: #555;
}
button:not([disabled]){
	cursor: pointer;
}
button[disabled]{
	opacity:0.5;
}
button:not([disabled]):hover{
	color: #333;
	box-shadow: inset 0 0 16px rgba(0,0,0,.5);
}
img{
	-webkit-filter: invert(1) blur(10px) opacity(10%);
}
i{
	display: inline-block;
}
.flip-h{
	transform: scaleX(-1);
}
.side-menu .button-list > button{
    padding: 0 20px 0 5px;
	width: 100%;
    text-align: left;
}
.side-menu .button-list{
	position: absolute;
    top: 50px;
    background: #eee;
    left: 0;
    z-index: 1000;
	box-shadow: 0 0 16px rgba(0,0,0,0.5);
	white-space: nowrap;
}
.button-list li > a> i{
	vertical-align: middle;
}

.button-list li > a.server:hover {
	-webkit-filter:brightness(50%);
}
.button-list li > a.server.not-checked {
    color: #ccc;
}
.button-list li > a.server.validated {
    color: green;
}
.button-list li > a.server.failed {
    color: red;
}

.button-list li > a{
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    vertical-align: middle;
	color:#555;
	padding: 4px 8px;
    cursor: pointer;
}
.button-list li > a:not(.server):hover{
	color:#111;
}
.side-menu dropdown-menu .left{
	left: 0;
	right: auto;
}
.side-menu dropdown-menu .right{
	right: 0;
	left: auto;
}
.side-menu dropdown-menu{
	flex:0 0 auto;
	position:relative;
}
.side-menu{
	display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.2);
    z-index: 1;
	align-items: center;
}
.side-menu button{
	display: inline-block;
    padding: 8px;
}
.main-view{
	display: flex;
    flex-direction: column;
    flex: 1 1 100%;
	margin-top: 50px;
}
.nav-bar{
    height: 50px;
    display: flex;
	align-items: center;
    background: rgba(0,0,0,0.5);
	flex: 0 0 auto;
	color:white;
}
.nav-bar .fa{
	color:white;
}
.nav-bar > button{
	flex: 0 0 50px;
	height: inherit;
	color:white;
}
.nav-bar .counter{
	flex: 1 0 auto;
    text-align: right;
	padding: 0 10px;
}
.main-container{
	display: flex;
    flex-direction: column;
    min-height: 100%;
}
.item-container{
	flex: 1 0 100%;
}
.item-container .item img{
	height: 150px;
	min-width: 100px;
}
.item img{
	min-height: 50px;
    min-width: 50px;
}
.item{
	position: relative;
    display: inline-block;
    margin: 4px;
    border: 1px solid#ccc;
    padding: 4px;
	overflow: hidden;
	font-size: 10px;
	vertical-align: top;
}
.item .banner{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background-color: rgba(255,255,255,0.5);
	word-break: break-all;
}

.item .item-counter.warning{
	background-color: rgba(255,128,0,0.7);
}
.item .item-counter.alert{
	background-color: rgba(255,0,0,0.7);
}
.fav:after{
	content: "\2705";
    display: inline-block;
    padding-left: 2px;
	float:right;
}
.item .item-counter{
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	padding: 2px 4px;
	cursor: pointer;
}
.btn-float.bottom{
	top:auto;
	bottom:0;
}
.btn-float i.fa-eye{
	color: rgba(255,0,0,1);
}
.btn-float{
	position: absolute;
	top:0;
	right:0;
	font-size: 16px;
    padding: 4px 2px;
    line-height: 1em;
	-webkit-filter: drop-shadow(0 0 2px #fff);
}

.item .preloader > i{
	top: 50%;
    position: relative;
    width: 100%;
    margin-top: -0.6em;
	color: white;
}
.item .preloader{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.info-banner > div > span, .info-banner > div > i{
	padding-left: 4px;
    float: right;
}

.info-banner > div{
	overflow: hidden;
}
.show img{
	-webkit-filter: none;
}
/* list */

/*login*/
.login-container{
	position:relative;
    margin: 10px;
}
.login-container input{
    border-radius: 23px;
	height: 46px;
    padding: 10px 50px;
    font-size: 18px;
    line-height: 1.3333333;
	display: block;
    width: 100%;
	color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	box-sizing: border-box;
}
.login-container input:focus{
	border-color: #66afe9;
	outline: 0;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.login-container input:focus ~ i.fa{
	border-color: #66afe9;
	color: #66afe9;
}
.login-container > i.fa{
	top:0;
	left:0;
	position: absolute;
    width: 24px;
    background: #eee;
    line-height: 44px;
    padding: 0 6px 0 10px;
    border-radius: 50% 0 0 50%;
	border: 1px solid #ccc;
}
.login-container button>i.fa.fa-fw{
	line-height:1.28571429em;
}
.login-container button{
	position: absolute;
    top: 8px;
    right: 9px;
    border-radius: 50%;
    background: #ccc;
    transform-origin: 100% 0;
    transform: scale(0.5);
}
/* info */
.nav-bar button.more{
	text-align: center;
    width: 100%;
    flex: 1 1 100%;
}
.nav-bar button.more:hover{
	color:white;
}
.nav-bar button.more i{
	vertical-align: middle;
}
/*slide show */
.slideshow-image-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.slideshow-image-container .main-image{
	width: 100%;
    height: 100%;
    object-fit: scale-down;
	position: absolute;
    top: 0;
	left: 0;
    background: rgba(55,55,55,55);
}

.slideshow-nav-container{
	background: rgba(20,20,20,0.5);
	position:absolute;
	height:50px;
	bottom:0;
	left:0;
	right:0;
	display: flex;
	align-items: center;
}
.slideshow-nav-container button{
	flex: 0 0 50px;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0);
    border: none;
	height: 100%;
    box-shadow: inset 0 0 32px rgba(255,255,255,.5);
}
.slideshow-nav-container .spacer{
	flex:1 1 auto;
}
.slideshow-nav-container .spacer > span, .slideshow-nav-container button{
	color: rgba(255,255,255,0.8);
	font-size: 2em;
}
.slideshow-nav-container .spacer > span{
	display: block;
    text-align: right;
    padding: 0 20px;
}
/* console */
console textarea{
	width: 100%;
	height: 100%;
	resize: none;
	margin:0;
	padding:0;
	font-size:10px;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 #ffd217, 2px 2px 0 #5ac7ff;
}
console{
	position:fixed;
	top:60px;
	bottom:20px;
	left:20px;
	right:20px;
	border: 1px solid #ccc;
	background: rgba(0,0,0,1);
	box-shadow: inset 0 0 32px rgba(255,255,255,.5);
	z-index:0;
	padding:2px;
	opacity:0.8;
}
/* rating */
rating .selected{
	background-color: rgba(255,255,255,.5);
}
.text-success {
    color: #00CC09;
}
.text-warning {
    color: #FFA500;
}
.text-info {
    color: #FFF600;
}
.text-danger {
    color: #B20D00;
}
.text-primary{
    color: #5bc0de;
}
.side-menu rating button{
    border-radius: 50%;
    background-color: #555;
    padding: 7px 6px;
    border: 1px solid #ccc;
}
.side-menu rating button i{
    -webkit-filter: drop-shadow(0 0 4px #fff);
}
.side-menu rating button i.fa-star-half-o.text-success::before{
transform: scale(-1, 1);
display:block;
}