body, html{
	height:100%;
	min-height: 100%;
	padding:0;
	margin:0;
}

body{
	background-color:#eee;
	font-family: Arial, Helvetica, sans-serif;
}
button{
	border: 0;
    padding: 0;
	background:none;
	cursor: pointer;
	color: #555;
}
button:hover{
	color: #333;
	box-shadow: inset 0 0 16px rgba(0,0,0,.5);
}
img{
	-webkit-filter: invert(1) blur(10px);
	opacity:0.1;
}
i{
	font-size:34px;
	font-style: normal;
	width:50px;
	height:50px;
	display: inline-block;
}
.flip-h{
	transform: scaleX(-1);
}
.side-menu .button-list{
	position: absolute;
    top: 50px;
    bottom: 0;
    background: blue;
    left: 0;
    z-index: 1;
}
.side-menu.menu-show .button-list{
	display:block;
}
.side-menu .button-list{
	display:none;
}
.side-menu{
	flex: 0 0 auto;
}
.side-menu button{
	display:block;
}
.main-view{
	display: flex;
    flex-direction: column;
    flex: 1 1 100%;
}
.nav-bar{
    height: 50px;
    display: flex;
	align-items: center;
    background: rgba(0,0,0,0.5);
	flex: 0 0 auto;
}
.nav-bar > button{
	flex: 0 0 50px;
}
.nav-bar .counter{
	flex: 1 0 auto;
    text-align: right;
}
.main-container{
	display: flex;
    flex-direction: column;
    min-height: 100%;
}
.item-container{
	flex: 1 0 100%;
}
.item img{
	height: 150px;
	min-width: 100px;
}
.item{
	position: relative;
    display: inline-block;
    margin: 4px;
    border: 1px solid#ccc;
    padding: 4px;
	overflow: hidden;
	font-size: 10px;
	vertical-align: top;
}
.item .banner{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background-color: rgba(255,255,255,0.5);
	word-break: break-all;
}

.item .item-counter.warning{
	background-color: rgba(255,128,0,0.7);
}
.item .item-counter.alert{
	background-color: rgba(255,0,0,0.7);
}
.fav:after{
	content: "\2705";
    display: inline-block;
    padding-left: 2px;
	float:right;
}
.item .item-counter{
	position: absolute;
	top: 4px;
	left: 4px;
	background-color: rgba(0,0,0,0.7);
	color:#fff;
	padding: 2px 4px;
	cursor: pointer;
}
.item button.exclude{
	position: absolute;
	top:0;
	right:0;
	font-size: 19px;
    padding: 2px;
    line-height: 1em;
}

.item .preloader > span{
    position: relative;
    top: 50%;
    text-align: center;
    display: block;
    font-size: 2em;
    transform: translateY(-50%);
	animation: mymove 1s infinite;
	color: #fff;
}
@keyframes mymove {
    0% {transform: translateY(-50%) rotate(0deg);}
    50% {transform: translateY(-50%) rotate(180deg);}
}
.item .preloader{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.info-banner > div > span{
	padding-left: 4px;
    float: right;
}
.info-banner > div{
	overflow: hidden;
}
.show img{
	-webkit-filter: none;
	opacity:1;
}
.slideshow-image-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.slideshow-image-container .main-image{
	width: 100%;
    height: 100%;
    object-fit: scale-down;
	position: absolute;
    top: 0;
	left: 0;
    background: rgba(55,55,55,55);
}

.slideshow-nav-container{
	background: rgba(20,20,20,0.5);
	position:absolute;
	height:50px;
	bottom:0;
	left:0;
	right:0;
	display: flex;
	align-items: center;
}
.slideshow-nav-container button{
	flex: 0 0 50px;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0);
    border: none;
	height: 100%;
    box-shadow: inset 0 0 32px rgba(255,255,255,.5);
}
.slideshow-nav-container .spacer{
	flex:1 1 auto;
}
.slideshow-nav-container .spacer > span, .slideshow-nav-container button{
	color: rgba(255,255,255,0.8);
	font-size: 2em;
}
.slideshow-nav-container .spacer > span{
	display: block;
    text-align: right;
    padding: 0 20px;
}