body, html{
	height:100%;
	min-height: 100%;
	padding:0;
	margin:0;
}
body{
	background-color:#eee;
}
img{
	-webkit-filter: invert(1) blur(10px);
	opacity:0.1;
}
.item img{
	height: 150px;
	min-width: 100px;
}
.item{
	position: relative;
    display: inline-block;
    margin: 4px;
    border: 1px solid#ccc;
    padding: 4px;
	overflow:hidden;
}
.item .banner{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	background-color: rgba(255,255,255,0.5);
	font-size:10px;
	word-break: break-all;
}
.item button{
	position: absolute;
	bottom:0;
	left:0;
}
.item button.dump{
	left: 30px;
}
.item button.exclude{
	right:0;
	left:auto;
}
.show img{
	-webkit-filter: none;
	opacity:1;
}
.slideshow-image-container{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.slideshow-image-container .main-image{
	width: 100%;
    height: 100%;
    object-fit: scale-down;
	position: absolute;
    top: 0;
	left: 0;
    background: rgba(55,55,55,55);
}
.slideshow-image-container img.main-image{
	-webkit-filter: none;
	opacity:1;
}
.slideshow-nav-container{
	background: rgba(20,20,20,0.5);
	position:absolute;
	height:100px;
	bottom:0;
	left:0;
	right:0;
	display: flex;
	align-items: center;
}
.slideshow-nav-container button{
	flex: 0 0 100px;
    padding: 0;
    margin: 0;
    background: rgba(0,0,0,0);
    border: none;
	height: 100%;
    box-shadow: inset 0 0 32px rgba(255,255,255,.5);
}
.slideshow-nav-container .spacer{
	flex:1 1 auto;
}
.slideshow-nav-container .spacer > span, .slideshow-nav-container button{
	color: rgba(255,255,255,0.8);
	font-size: 3em;
}
.slideshow-nav-container .spacer > span{
	display: block;
    text-align: right;
    padding: 0 20px;
}