<div class="slideshow-image-container" title="{{itemId}}">
	<img class="main-image image-1" ng-src="{{secondImage}}" />
	<img class="main-image image-0" ng-class="{'fade-in': nextImageOpacity}" ng-src="{{firstImage}}" />
</div>
<div class="slideshow-nav-container">
	<button ng-click="togglePlay()" class="play"><i class="fa fa-fw" ng-class="playing ? 'fa-pause' : 'fa-play'"></i></button>
	<button class="prev" ng-click="prevImage()"><i class="fa fa-arrow-circle-o-left fa-fw"></i></button>
	<button class="next" ng-click="nextImage()"><i class="fa fa-arrow-circle-o-right fa-fw"></i></button>
	<span class="spacer">
		<span>{{counter+1}}/{{collection.length}} ({{gallery}}-{{image}})</span>
	</span>
</div>