<button ng-click="menu.show =! menu.show"><i>&#9776;</i></button>
<div class="button-list">
	<button ng-click="toggleRootShow()"><i>&#128269;</i><span>show</span></button>
	<button ng-click="dropPreloadedGalleries()"><i>&#128190;</i><span>Save 2 File</span></button>
	<button ng-click="loadFromInternetGalleries()"><i>&#128229;</i><span>Load From Web</span></button>
	<button ng-click="clearSession()"><i>&#9003;</i><span>Clear Session</span></button>
	<button ng-click="goHome()"><i>&#127968;</i><span>Go Home</span></button>
	<button ng-click="goToLogin()"><i>&#128274;</i><span>Login</span></button>
</div>